{{define "app"}}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{template "title" .}}</title>

  <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
  <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>

<body>
  {{template "main" .}}

  <script src="/static/app.js" type="text/javascript"></script>
</body>

</html>
{{end}}