{{template "app" .}}

{{define "title"}}Sentiment Analysis{{end}}

{{define "main"}}
<div id="root">
  <p>Sorry, you need to enable Javascript to use this guy.</p>
  <p>I know it's not ideal but I'm just building this as a personal exercise.</p>
</div>
{{end}}